* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: cadetblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #eee;
    position: relative;
}

.menu {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: all 1s;
}

.show .menu {
    right: 15rem;
}

.line {
    width: 100%;
    height: .2rem;
    background-color: #000;
    border: none;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -20rem;
    background-color: red;
    transition: all 1s;
}

.show .sidebar {
    right: 0;
}