* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

body {
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a:visited,
a:active {
    color: #6C63FF;
}

.logo-wrapper {
    width: 2.5rem;
    transition: all .3s;
    cursor: pointer;
}

.logo-wrapper:hover {
    transform: scale(1.1);
}

.logo-wrapper img {
    width: 100%;
}

header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: .5rem;
    transition: all .5s;
    padding-left: 2rem;
    padding-right: 2rem;
}

.scrolling {
    height: 3.5rem;
    background-color: white;
    box-shadow: 0 .1rem 1rem rgba(68, 50, 50, 0.2);
}

.sidebar {
    width: 15rem;
    height: 100vh;
    background-color: #6C63FF;
    position: fixed;
    top: 0;
    right: -15rem;
    transition: all 1s;
    opacity: .95;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9999;
}

.sidebar hr {
    width: 80%;
    background-color: white;
}


.icon-sidebar {
    color: white;
}


.sidebar ul li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.sidebar ul li a {
    padding: .5rem;
    transition: all 1s;
    color: white;
}

.sidebar ul li:hover a {
    /* text-shadow: 0 .1rem .1rem rgba(0, 0, 0, .5); */
    background-color: white;
    color: #6C63FF;
    border: none;
    border-radius: 2rem;
}

.show .sidebar {
    right: 0;
    box-shadow: -0.1rem -0.1rem 0.5rem rgba(0, 0, 0, .8);
}

.menu {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 1s;
    z-index: 9;
    cursor: pointer;
    z-index: 9999;
}

.show .menu {
    margin-right: 10rem;

}

.line {
    width: 100%;
    height: .2rem;
    background-color: #000;
    transition: all .5s;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .5);
}

.show #line1 {
    transform: rotate(45deg) translate(0.9rem);
    background-color: white;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .5);
}

.show #line2 {
    opacity: 0;
}

.show #line3 {
    transform: rotate(-45deg) translate(0.9rem);
    background-color: white;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .5);
}

.margin-sessao {
    margin-left: auto;
    margin-right: auto;
}

.sessao-intro {
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-img {
    display: flex;
    justify-content: center;
}

.wrapper-img img {
    margin-top: 4rem;
    width: 90%;
    animation: zoom 2s both;
}


.intro-content h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: zoom 3s;
}


.intro-content p {
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    width: 100%;
}

.btn {
    border: none;
    padding: .7rem;
    font-size: 1.1rem;
    transition: all .3s;
    background-color: #6C63FF;
    color: white;
    border: 1px solid black;
}

.btn:nth-child(2) {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .5);
}

.sessao-works {
    width: 95%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessao-works h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sessao-works p {
    font-size: 1rem;
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.card img {
    width: 40%;
    margin-bottom: 1rem;
}

.card h4 {
    margin-bottom: 1rem;
}

.card p {
    font-size: .8rem;
}

.sessao-check {
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sessao-check .wrapper-img{
    margin-bottom: 2rem;
}

.sessao-check .wrapper-img img{
    width: 90%;
    animation: none;
}

.intro-content-check {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-h2 {
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    width: 80%;
    margin-bottom: 2rem;
}

.paragrafo-p {
    font-size: 1.1rem;
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
}

.sessao-services {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.services-group {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
        "column1";
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service img {
    margin-bottom: .5rem;
}

.service h4 {
    margin-bottom: 1rem;
}

.service p {
    text-align: center;
    width: 80%;
    margin-bottom: 3rem;
}

.sessao-depoimentos {
    width: 100%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6C63FF;
    padding-top: 4rem;
    padding-bottom: 4rem;
    z-index: 0;
}

.img-circle {
    position: absolute;
    width: 52%;
    left: -4rem;
    top: 207rem;
    z-index: 0;
}

.column-left {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    margin-bottom: 2rem;
}

.column-left a {
    color: white;
}

.depoimentos-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    z-index: 1;
}

.sessao-depoimentos .card {
    background-color: white;
    border-radius: .5rem;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 1rem;

}

.sessao-depoimentos h2 {
    color: white;
}

.sessao-depoimentos .card p {
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.person {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.person img {
    width: 60px;
    margin: 0;
}

.person .profile h4 {
    margin: 0;
}

.person .profile p {
    font-style: normal;
    font-size: .8rem;
    margin: 0;
}

footer {
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-areas: "column1";
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, .5);
}

.footer-column1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column1 .logo-wrapper {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.footer-column1 p {
    margin-top: 1rem;
    width: 80%;
    text-align: center;
}

.footer-column2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-size: 1.5rem;
}

.footer-column2 i {
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: .4rem;
}

.footer-column2 i:hover {
    transform: scale(1.1);
    background-color: #6C63FF;
    color: white;
    border-radius: .4rem;
}

.footer-column3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .sessao-intro {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .intro-content {
        width: 423px;
        height: 327px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .intro-content h1 {
        font-size: 44px;
        text-align: left;
        font-weight: 600;
    }

    .border-bottom {
        background-color: #B7B3B3;
        width: 52px;
        height: 3px;
        margin-bottom: 1rem;
    }

    .intro-content p {
        font-size: 20px;
        width: 381px;
        text-align: left;
    }

    .wrapper-img {
        width: 509px;
        height: 364px;
        align-items: center;
        justify-content: center;
    }

    .wrapper-img img {
        height: 100%;
        object-fit: contain;
        margin: 0;
    }

    .btn-intro {
        align-items: flex-end;
        justify-content: flex-start;
    }

    .btn {
        width: 146px;
        height: 50px;
    }

    .sessao-works {
        width: 997px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .sessao-works h2 {
        font-size: 44px;
        font-weight: 600;
    }

    .sessao-works p {
        width: 587px;
        font-size: 25px;
        margin-bottom: 80px;
    }

    .group-cards {
        display: flex;
    }

    .card img {
        width: 207px;
        height: 207px;
        margin-bottom: 56px;
    }

    .card h4 {
        font-size: 19px;
        font-weight: 600;
    }

    .card p {
        width: 337px;
        font-size: 14px;
    }

    .sessao-check {
        width: 100%;
        height: 580px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #FFFCFC;
        background-image: url(./img/circle.png);
        background-repeat: no-repeat;
        background-size: 305px;
    }

    .sessao-check .wrapper-img {
        width: 50%;
        height: 298px;
        margin: 0;
    }

    .intro-content-check {
        height: 298px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .intro-content-check h2 {
        font-size: 40px;
        padding-bottom: 12px;
    }

    .intro-content-check h2,
    .intro-content-check p {
        text-align: left;
        margin: 0;
    }

    .intro-content-check p {
        margin-bottom: 17px;
        width: 399px;
        font-size: 20px;
    }

    .intro-content-check .border-bottom {
        height: 3px;
        margin-bottom: 36px;
    }

    .intro-content-check .btn {
        background-color: #fff;
        border: none;
        width: 163px;
        margin: 0;
        padding: 0;
        color: #6C63FF;
        box-shadow: none;
        transform: none;
    }

    .sessao-services {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: #fff url(./img/losango.png)no-repeat center center/80%;
    }

    .sessao-services h2 {
        font-size: 44px;
        font-weight: 600;
        margin-bottom: 26px;
    }

    .sessao-services .border-bottom {
        width: 49px;
        margin-bottom: 36px;
    }

    .sessao-services p {
        color: #B7B3B3;
        font-size: 18px;
        margin-bottom: 39px;
    }

    .services-group {
        margin-top: 2rem;
        display: grid;
        grid-template-areas:
            "column1 column2";
        gap: 1rem;
    }

    .service {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        margin-bottom: 106px;
    }

    .service img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }

    .content-services {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .content-services h4 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .content-services p {
        font-size: 16px;
        color: #B7B3B3;
        margin: 0;
        text-align: left;
    }

    .img-circle {
        display: none;
    }

    .sessao-depoimentos {
        width: 100%;
        flex-direction: row;
        position: relative;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .sessao-depoimentos::before {
        content: "";
        width: 120%;
        height: 100%;
        position: absolute;
        top: 51px;
        left: -83px;
        background-image: url(./img/circle.png);
        background-repeat: no-repeat;
        background-size: 20%;
    }

    .depoimnetos-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .depoimnetos-content h2 {
        text-align: left;
        width: 152px;
        font-size: 33px;
        font-weight: 100;
        font-style: italic;
        margin-right: 65px;
    }

    .depoimentos-cards {
        display: grid;
        grid-template-areas: "column1 column2 column3";
        column-gap: 8px;
    }

    .depoimentos-cards .card {
        width: 100%;
        width: 298px;
        height: 306px;
        padding: 0;
    }

    .depoimentos-cards .card img {
        width: 59px;
        height: 59px;
        margin: 0;
        margin-left: 26px;
    }

    .card p {
        width: 218px;
        font-size: 20px;
        margin: 23px 54px 25px 28px;
    }

    .profile {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-around;
        height: 200px;
    }

    /*logo*/
    .footer-column1 {
        order: 3;
    }

    .footer-column1 p {
        display: none;
    }

    /*social*/
    .footer-column2 {
        order: 2;
    }

    /*direitos*/
    .footer-column3 {
        order: 1;

    }

}

@keyframes zoom {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 90%;
    }
}

@keyframes moveUp{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

/*animação*/
[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="left"] {
    transform: translate3d(-40px, 0, 0);
}

[data-anime="center"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime="right"] {
    transform: translate3d(40px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}