* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 500vh;
    background-color: chocolate;
}

header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #eee;
    padding: .5rem;
    transition: all .3s;
}

.scrolling {
    height: 3.5rem;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show .sidebar {
    right: 0;
}

.menu {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s;
    z-index: 9;
}

.show .menu {
    margin-right: 16rem;
}

.line {
    width: 100%;
    height: .2rem;
    background-color: #000;
}